<p id="notice"><%= notice %></p>

<p>
  <strong>Descrição:</strong>
  <%= @ingredient.description %>
</p>

<%= link_to 'Editar', edit_ingredient_path(@ingredient) %> |
<%= link_to 'Voltar', ingredients_path %>
